spring:
  application:
    name: config-server
  profiles:
    active: native
  cloud:
    config:
      fail-fast: true
      cloud:
        config:
          fail-fast: true
          retry:
            useRandomPolicy: true
            max-interval: 6000
      server:
        native:
          searchLocations:
            - classpath:config/telemetry/{application}
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
    enabled: true


server:
  port: 8888