spring:
  application:
    name: shopping-cart
  config:
    import: "configserver:"
  cloud:
    config:
      discovery:
        enabled: true
        serviceId: config-server
      circuitbreaker:
        resilience4j:
          enabled: true

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    enabled: true
    fetch-registry: true